@import url("css/style.css");

/*---------------------------------
    Primary Menu Dropdowns on Hover
-----------------------------------*/
@media (min-width: 767px) {/*979px*/
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/*---------------------------------
    TopBar
-----------------------------------*/
body > section.header.bg-lightgray.header-small > nav > div{
	margin-bottom: 20px;
}

/*---------------------------------
    Brand
-----------------------------------*/
body > section.header.bg-lightgray.header-small > nav > div > div.navbar-header > a{
	color: #ffc107;
	font-weight: bold;
	font-size: 25px;
}

body > section.header.bg-lightgray.header-small > nav > div > div.navbar-header > a:hover{
	color: #fff;
}
/*---------------------------------
    Primary Menu
-----------------------------------*/
#bs-example-navbar-collapse-1 > ul > li > a{
	color: #ffc107;
	font-weight: bold;
	font-size: 20px;
}

/*---------------------------------
    Sub-Menu
-----------------------------------*/
#bs-example-navbar-collapse-1 > ul > li > ul{
	background-color: #222;
}

#bs-example-navbar-collapse-1 > ul > li > ul > li > a{
	color: #ffc107;
	font-weight: bold;
	font-size: 20px;
}

#bs-example-navbar-collapse-1 > ul > li > ul > li > a:hover{
	color: #222;
}


/*---------------------------------
    the bottom padding of the first paragraph of home page is reduced. it was originally 100px
-----------------------------------*/
body > section.padding-top-0.padding-bottom-0 > div.container > div > p{
	padding-bottom: 0px;
}


/*---------------------------------
    fixing the bottom margin of the home page products
-----------------------------------*/
@media (min-width: 768px) {
    .member {
        margin-bottom: 50px;
    }
    .member:last-child {
        margin-bottom: 0px;
    }
}

/*---------------------------------
    fixing the footer
-----------------------------------*/
section.footer .copyright{
    margin-top: 0px;
}

/*---------------------------------
    Capabilities_1 of about page
-----------------------------------*/

section.capabilities_1 {
    position: relative;
    overflow: hidden;
    background-image: url("img/banner-3_3.jpg");
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    background-size: cover;
    /*    background-position: center center;*/
}

@media (max-width: 992px) {
    section.capabilities_1{
        background-attachment: fixed;
        background-position: center left;
    }
}

@media (max-width: 768px) {
    section.capabilities_1{
        background-attachment: fixed;
        background-position: center left;
    }
}


/*---------------------------------
    Capabilities_2 of about page
-----------------------------------*/

section.capabilities_2 {
    position: relative;
    overflow: hidden;
    background-image: url("img/banner-2_2.jpg");
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    background-size: cover;
    /*    background-position: center center;*/
}

@media (max-width: 992px) {
    section.capabilities_2{
        background-attachment: fixed;
        background-position: center left;
    }
}

@media (max-width: 768px) {
    section.capabilities_2{
        background-attachment: fixed;
        background-position: center left;
    }
}

/*---------------------------------
    Queries - What Why How 1 Section
-----------------------------------*/

section.whatwhyhow1 {
    background-image: url("img/banner-1_1.jpg");
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

section.whatwhyhow1 .container {
    padding: 150px 0;
}

.query_box .box-wrapper {
    background-color: rgba(33, 33, 33, 0.8);
    display: inline-block;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.query_box .box-wrapper h3 {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ffc107;
    margin: 0 0 25px 0;
    text-transform: uppercase;
    color: #212121;
    font-size: 20px;
}

.query_box .box-wrapper h4 {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}

.query_box .box-wrapper p {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 25px;
    padding: 0 30px;
}

.query_box .box-wrapper .btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -70px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


.query_box {
        margin-bottom: 0px;
    }


@media screen and (max-width: 992px) {
    .query_box {
        margin-bottom: 50px;
    }
    .query_box:last-child {
        margin-bottom: 0px;
    }
}



@media screen and (max-width: 768px) {
    .query_box .box-wrapper h2 {
        height: 70px;
        line-height: 70px;
        text-align: center;
        background-color: #ffc107;
        margin: 0 0 25px 0;
        text-transform: uppercase;
        font-size: 30px;
    }

    .query_box .box-wrapper h3{
        line-height: 70px;
    }
}



/*---------------------------------
    Contact
-----------------------------------*/

section.contact {
    position: relative;
    overflow: hidden;
    background-image: url("img/banner-4.jpg");
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    background-size: cover;
    /*    background-position: center center;*/
}

section.contact .container {
    padding: 150px 0;
}

section.contact.padding-125 .container {
    padding: 125px 0;
}

#response_email {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    width: 100%;
}

form textarea#c_message {
    margin-bottom: 30px;
}

form input.green,
form textarea.green {
    background-image: url('img/valid-icon.svg');
    background-position: 97% 15px;
    background-repeat: no-repeat;
}

form input,
form textarea {
    background-position: 97% 15px;
}

form input {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 50px;
    padding: 10px;
    margin-bottom: 50px;
}

form textarea {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 150px;
    padding: 10px;
    margin-bottom: 50px;
}

form .btn-primary.btn-block {
    height: 50px;
    line-height: 30px;
    font-size: 18px;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
    border: 1px solid #ffc107;
}

.contact-person {
    margin-bottom: 75px;
    display: inline-block;
    width: 100%;
}

.contacts .contact-person:nth-of-type(2) {
    margin-bottom: 0px;
}

.contact-person .pic,
.contact-person .info {
    float: left;
}

.contact-person .pic img {
    float: right;
}

.contact-person .info {
    color: rgba(255, 255, 255, 0.8);
}

.contact-person .info h4 {
    color: #ffffff;
}

.contact-person .info .post {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact-person .info div {
    white-space: nowrap;
}

.contact-person .info .social {
    margin-top: 10px;
}

.contact-person .info .social a i {
    color: #ffc107;
    font-size: 15px;
    margin-right: 10px;
}

@media only screen and (max-width: 992px) {
    .contact-person {
        margin-top: 75px;
        margin-bottom: 0px;
    }
    .contact-person .pic {
        padding-left: 0px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .contact-person {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .contact-person .pic {
        padding-left: 0px;
        padding-right: 10px;
    }

    .contact-person .info h4{
        margin-bottom: 5px;
    }
    .contact-person .info .post{
        margin-bottom: 5px;
    }

    .contact-person .info div{
        font-size: 14px;
    }
}
